@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@media (min-width: 600px) {
  .main {
    width: clamp(550px, 100%, 850px);
  }
}

.body *::-webkit-scrollbar-track {
  background-color: black;
}

body *::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

body *::-webkit-scrollbar-corner {
  background-color: transparent;
}

body *::-webkit-scrollbar-thumb {
  background: #a19f9d;
  border-radius: 10px;
}
